@import 'src/styles.scss';


:host {
    --max-width: 1800px;
    --min-width: 200px;
    --min-height: 800px;
    --max-height: 1000px;
    --maximum: 100%;
    $image-1:"Bg-1.png";
    $image-2:"Bg-2.png";
    $image-3:"Bg-mobile.png";
    div.background {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: left var(--maximum) top 0;
        max-width: 100vw;
        background-color: $color-D0;
        // padding: $baseline;
        div.wrapper {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: var(--maximum);
            max-width: var(--max-width);//$content-width;
            width: var(--maximum);
            // height: 100%;
            margin: auto;
            // padding: $baseline;
            div.second-page {
                padding: $column1;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                >div.content-flexbox {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    min-width: var(--maximum);
                    // height: var(--maximum);
                }
            }
        }
    }

    @media screen and (max-width: $br1-end) {
        div.background {
            background-image:url($image-3);
            div.wrapper {
                justify-content: flex-end;
                align-items: flex-start;
                >div.second-page {
                    padding: $gutter;
                    max-width: 100vw;
                    min-width: var(--min-width);
                    justify-content: space-between;
                    align-items: flex-start;
                    >div.content-flexbox {
                        &.down { 
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: stretch;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: $br2-start) {
        div.background {
            background-image:url($image-1);
        }
    }
}

    